{% extends 'base.html.twig' %}

{% block title %}Create New Offer{% endblock %}

{% block body %}
    <h1>Create a New Car Offer</h1>
    {{ form_start(form) }}
        <h2>Car Details</h2>
        {{ form_row(form.car) }}
        <h2>Offer Details</h2>
        {{ form_widget(form) }}
        <button type="submit">Submit Offer</button>
    {{ form_end(form) }}
{% endblock %}
