{% extends 'base.html.twig' %}
{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <div >
    <h1>Panneau de contrôle Admin</h1>

    <div class="btn-primary w-64 h-24 flex items-center justify-center">
        <a href={{path('services_dashboard')}}>Services</a>
    </div>
    </div>

{% endblock %}